@font-face {
	font-family: 'Quicksand Light';
	src: url('fonts/Quicksand.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}



body {
	font-family: "Quicksand Light";
	font-weight: 100;
	font-size: 14pt;
}


/* Блоки flex */
.flex_container {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

@media all and (max-width: 700px) {
	.second_container, .third_container {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 0;
	}
	.first_container{
		display: flex;
		flex-direction: column-reverse;
		margin: 0 0 0 0;
  }
}

@media all and (min-width: 800px) {
	.first_container, .second_container, .third_container {
		display: flex;
		flex-direction: row;
		margin: 0 0 0 0;
	}
}

.menu_container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 0 0 0;
}

.table_work_timedelta {
	vertical-align: top; 
	padding-top: 22px; 
	padding-right: 20px;
	padding-left: 10px;
}

.table_work_data {
	vertical-align: top; 
	padding-right: 10px;
}

th, td {
   padding: 0px 0px;
}

p {
	text-align: justify;
	padding: 10px;
}

.p_10 {
	text-align: left;
	padding: 10px;
}

.print {
	text-align: justify;
}

.p_20 {
	padding: 5px 10px 5px 10px;
}

.bolt_p {
	font-weight: bold;
}

h3 {
	padding: 10px;
}

.top {
	flex-basis: 100%;
	margin: 0 0 0 0;
	background: repeating-linear-gradient(-60deg, #dce0e0 0, #dce0e0 1px, transparent 1px, transparent 7px);
}

.menu {
	flex-basis: 100%;
	text-align: center;
	justify-content: space-between;
	height: 30px;
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
}

a[href*="#"] {
	font-weight: bold;
	color: black;
	text-decoration: none;
  }

.menu p {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.about {
	flex-basis: 70%;
	flex-grow: 3;
	margin: 0 0 0 0;
}
.info {
	flex-basis: 30%;
	flex-grow: 1;
	margin: 0 0 0 0;
	background: repeating-linear-gradient(-60deg, #dce0e0 0, #dce0e0 1px, transparent 1px, transparent 7px);
}

.info p {
	text-align: center;
}

.skills {
	flex-basis: 50%;
	flex-grow: 1;
	margin: 0 0 0 0;
	background: repeating-linear-gradient(-60deg, #dce0e0 0, #dce0e0 1px, transparent 1px, transparent 7px);
}
.education {
	flex-basis: 50%;
	flex-grow: 2;
	margin: 0 0 0 0;
}
.work {
	flex-basis: 100%;
	margin: 0 0 0 0;
}

IMG.displayed {
    display: block;
	width: 200px;
	border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
 }

.icons {
	width: 40px;
	margin: 10px;
}

.about, .info, .skills, .education, .work {
	border: 1px solid; 
	padding: 20px;
	margin: 20px 20px;
	opacity: 0;
}

.top {
	border: 1px solid; 
	margin: 20px 20px;
}

.about:hover, .info:hover, .skills:hover, .education:hover, .work:hover {
	box-shadow: 0px 0px 10px darkgrey;
}

.menu:hover:not(.active) {
	font-size: 20pt;
}

.top {
	height: 100px;
	text-align: center;
}


.about, .education {
	height: 550px;
}

.info p {
	padding: 5px 5px 5px 5px;
}

.info, .skills {
	height: 550px;
}

.skills ul {
	flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.education p {
	padding: 0;
	margin: 0;
}


.work p {
	padding: 0 0;
	margin: 0 0;
}


a[href^="tel:"] {
	color: #000000;
  }

a[href^="mailto:"] {
font-size: 16px;
line-height: 32px;
color: #000000;
}
