@font-face {
	font-family: 'Quicksand Light';
	src: url('fonts/Quicksand.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

body {
	font-family: "Quicksand Light";
	font-size: "20px";
	font-weight: 100;
	color: #808080;
}

div {
	float: left; /*Задаем обтекание*/
	padding: 20px;
	margin: 20% 20%;
    }

th, td {
   padding: 0px 0px;
}

p {
	padding: 10px;
}

.p_10 {
	padding: 5px 5px 5px 5px;
}

.p_20 {
	padding: 5px 10px 5px 10px;
}

h3 {
	padding: 10px;
}

.line {
}

.flex-container {
  display: center;
  width: 800px;
}
.about {
  flex-basis: 40%;
  flex-grow: 2;
}
.info {
  flex-basis: 40%;
  flex-grow: 1;
}
.skills {
  flex-basis: 40%;
  flex-grow: 1;
}
.education {
  flex-basis: 40%;
  flex-grow: 2;
}
.work {
  flex-basis: 40%;
  flex-grow: 2;
}

IMG.displayed {
    display: block;
	width: 200px;
	border-radius: 100px;
    margin-left: auto;
    margin-right: auto }

.icons {
	width: 40px;
	margin: 10px;
}

.about, .info, .skills, .education, .work {
	border: 1px solid; 
	padding: 20px;
	margin: 20px 20px;
}

.about, .education {
	height: 450px;
}

.info p {
	padding: 5px 5px 5px 5px;
}

.info, .skills {
	height: 450px;
}

.skills ul {
	flex-flow: row nowrap;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
}

.education p {
	padding: 0;
	margin: 0;
}

.education h3 {
	padding: 0 0;
	margin: 0 0;
}


.work p {
	padding: 0 0;
	margin: 0 0;
}

